.App {
  text-align: center;
}

.App-logo, .ShoppingChart-logo {
  /* height: 40vmin; */
  height: 56px;
  width: 56px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-header-options {
  justify-content: space-around;
} */

.App-header-Chart {
  border: solid;
  border-width: 3px;
  border-color: #282c34;
  /* justify-content: right; */
}

.App-header-Chart:hover {
  border-color: white;
}

.brand {
  justify-content: left  ;
}

.navbar-nav, .nav-item a, .navbar-brand, btn {
  color: white;
}

.navbar-nav .nav-link.active {
  color: #61dafb;
  font-weight: bold;
}

.nav-link:focus, .nav-link:hover {
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.dropdown-menu li a {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
